<!DOCTYPE html>
<html>
<head>
<style>
    body{
        background-color: bisque;
        font-family: 'Courier New', Courier, monospace;
        margin: 0px;
        padding: 0px;
    }
    header
    {
       text-align: center; 
       color: rgb(242, 65, 65);
       font-size: 30px;
       font-weight: bold;
       margin: 20px 0;
    }
    
    .container{
        padding: 20px;
        margin-right: 20px;
        border-radius: 8px;
       box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    
  </style>
</head>
<body>
    <header>Community Connectivity</header>
    <div class="container" style="background-color: rgb(142, 233, 135);" style="width: 10px;" style="border: 10px;">
    <h2>Events</h2>
    <button onclick="loadEvents()">Show Events</button>
    <div id="events"></div>
    </div>
    <br>

    <div class="container" style="background-color: rgb(142, 233, 135);" style="width: 10px;" style="border:10px">
    <h2>Disaster Alerts</h2>
    <button onclick="loadAlerts()">Show Alerts</button>
    <div id="alerts"></div>
    </div>

    <script>
    function loadEvents() {
    fetch("/events")
        .then(res => res.json())
        .then(data => {
            document.getElementById("events").innerHTML = data.map(e => `<p>${e.date} — ${e.localName}</p>`).join("");
        });
    }
    function loadAlerts() {
    fetch("/alerts")
        .then(res => res.json())
        .then(data => {
            document.getElementById("alerts").innerHTML = data.results.map(n => `<p>${n.title}</p>`).join("");
        });
    }
    </script>
</body>
</html>  

